/* styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 80%;
    margin: auto;
    padding: 20px;
  }
  
  h1 {
    color: #35424a;
  }
  
  p {
    color: #666;
  }
  
  .animated-text {opacity: 0;
    animation: fadeIn 2s ease-in-out forwards
  }
  @keyframes fadeIn{
    0% {
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  .cafe-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  